spring:
  application:
    name: aws-ecs-spring-boot

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
